In [89]:
import pandas as pd

Loading The data

In [90]:
# Pandas is a cool library for data analysis, manipulation and exploration. In Pandas, we generally use Dataframes and work with tabular data.
# It helps us to explore clean and process data.

# dataframe is a type of tabular format that is used to represent data in tabular form in python. In this we can give names to cols and rows/index.
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['a', 'b', 'c'], index=['row1', 'row2', 'row3'])
df

      a  b  c
row1  1  2  3
row2  4  5  6
row3  7  8  9

In [91]:
df.head(1)
# shows us the first 5 rows of the dataframe if number not mentioned.

df.tail(2)
# shows us the last 5 rows of the dataframe if number not mentioned.

      a  b  c
row2  4  5  6
row3  7  8  9

In [92]:
df.index.to_list()
df.index
df.info()

df.nunique()
df['a'].nunique()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

3

In [93]:
df.shape

(3, 3)

In [94]:
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [95]:
coffee = pd.read_csv('warmup_data/coffee.csv')
coffee.head()

#in read_excel(), we also pass another argument such as sheet_name, so as to only get the sheet of the excel file we want.

         Day  Coffee Type   Units Sold Monday   Espresso   25
0     Monday        Latte                  15        NaN  NaN
1    Tuesday     Espresso                  30        NaN  NaN
2    Tuesday        Latte                  20        NaN  NaN
3  Wednesday     Espresso                  35        NaN  NaN
4  Wednesday        Latte                  25        NaN  NaN

Accessing the data

In [96]:
coffee.sample(10, random_state=2)

          Day  Coffee Type   Units Sold Monday   Espresso   25
4   Wednesday        Latte                  25        NaN  NaN
0      Monday        Latte                  15        NaN  NaN
10   Saturday        Latte                  35        NaN  NaN
5    Thursday     Espresso                  40        NaN  NaN
3   Wednesday     Espresso                  35        NaN  NaN
1     Tuesday     Espresso                  30        NaN  NaN
9    Saturday     Espresso                  45        NaN  NaN
7      Friday     Espresso                  45        NaN  NaN
11     Sunday     Espresso                  45        NaN  NaN
2     Tuesday        Latte                  20        NaN  NaN

loc, iloc  -> [rows, cols]

In Pandas, loc and iloc are two fundamental functions used for selecting data from a DataFrame. They differ in how they identify the rows and columns to be selected: 

1. Label-based Indexing (. loc):
    df. loc [row_label, col_ labell]: Accesses a specific element by its row and column labels.
    df. loc [row_labels, col_labels] : Selects multiple rows and columns using lists of labels.
    df. loc [row_labell: Selects an entire row as a Series.
    df. loc:, col_labell: Selects an entire column as a Series.
    df. loc [boolean_array]: Filters rows based on a boolean condition applied to a Series or DataFrame.
2. Integer-based Indexing (• iloc):
• df. iloc[row_index, col_indexl: Accesses a specific element by its integer-based row and column positions (0-indexed).
• df. iloc[row_indices, col_indices]: Selects multiple rows and columns using lists of integer positions.
• df. iloc [row_index]: Selects an entire row by its integer position.
• df. iloci:, col_index] : Selects an entire column by its integer position.
3. Direct Element Access (• at and ,iat):
• df. at [row_label, col_label] : Efficiently accesses a single element by label, optimized for single-value retrieval.
• df. iat [row_index, col_index]: Efficiently accesses a single element by integer position, optimized for single-value retrieval.
4. Column Selection (Bracket Notation):
• df [' column_name']: Selects a single column as a Series.
• dfI['column_namel', 'column_name2']] : Selects multiple columns as a DataFrame.
5. Boolean Indexing:
• This involves creating a boolean Series or DataFrame based on a condition, then using it with. loc to filter rows. For example, df [df ['Age'] › 30] selects all rows where the 'Age' column is greater than 30.

In [97]:
coffee.loc[0]
coffee.iloc[0:10] = 10

In [98]:
coffee.head()

  Day  Coffee Type   Units Sold Monday   Espresso    25
0  10           10                  10       10.0  10.0
1  10           10                  10       10.0  10.0
2  10           10                  10       10.0  10.0
3  10           10                  10       10.0  10.0
4  10           10                  10       10.0  10.0

In [99]:
coffee.loc[coffee['Coffee Type'] == 'Latte']

KeyError: 'Coffee Type'